* {
    padding: 0px;
    margin: 0px;
}

/* Sheared styles  */

.title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.description {
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* Navbar styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 240px;
    height: 130px;

}

.title-container {
    display: flex;
    gap: 20px;
}

.title-container img {
    width: 86.041px;
    height: 40px;
}

.title-container h3 {
    color: #0B0223;
    font-size: 2.81rem;
    font-weight: 700;
}

.title-container h3>span {
    color: #FF42A5;
}


.menus {
    display: flex;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.menus a {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
    text-decoration: none;
}

.menus .style-menus {
    display: flex;
    border-radius: 8px;
    border: none;
    gap: 24px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    cursor: pointer;
}


/* Banner styles */

.banner {
    display: flex;
    justify-content: flex-start;
    gap: 68px;
    height: 682px;
}

.banner-content {
    background-image: url('./images/Group\ 14.png');
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding-top: 148px;
    padding-left: 240px;
    max-width: 901px;
    margin-right: 185px;
    text-align: center;
}

.banner-content>h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content>h1 {
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
    background:
        linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.banner-link {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 17px;
    text-decoration: none;

}

.banner-link a {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}


.banner-btn {
    margin-top: 41px;
}

.banner-btn .btn-paimary {
    padding: 21px 40px;
    gap: 24px;
    border-radius: 48px;
    border: none;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}















@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        padding: 0 10px;
        margin-top: 100px;
    }

    .menus {
        flex-direction: column;
        padding-top: 62px;
    }

}