* {
    padding: 0px;
    margin: 0px;
}

/* Sheared styles  */

.title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.description {
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 30px;
}

.primary-link {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* Navbar styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 240px;
    min-height: 130px;
    margin-bottom: 1px;

}

.title-container {
    display: flex;
    gap: 20px;
}

.title-container img {
    width: 86.041px;
    height: 40px;
}

.title-container h3 {
    color: #0B0223;
    font-size: 2.81rem;
    font-weight: 700;
}

.title-container h3>span {
    color: #FF42A5;
}


.menus {
    display: flex;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.menus a {
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
    text-decoration: none;
}

.menus .style-menus {
    display: flex;
    border-radius: 8px;
    border: none;
    gap: 24px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    cursor: pointer;
}


/* Banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin-right: 240px;
    gap: 68px;
    min-height: 682px;
}

.banner-content {
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 148px;
    padding-left: 240px;
    padding-right: 306px;
    text-align: center;
    max-width: 1101px;
}


.banner-content>h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content>h1 {
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
    background:
        linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.banner-link {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 17px;
    text-align: start;

}


.banner-btn {
    margin-top: 41px;
    gap: 24px;
}

.btn-paimary {
    padding: 21px 40px;
    gap: 24px;
    border-radius: 48px;
    border: none;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-secondary {
    padding: 21px 40px;
    gap: 24px;
    border-radius: 48px;
    border: none;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}









/* Online games styles  */

.online-content {
    text-align: center;
    margin-top: 120px;
}

.online-content h1 {
    margin-bottom: 16px;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}


.online-content h1>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.online-games-cards {
    display: flex;
    padding: 48px 240px 0px 240px;
    gap: 24px;
    justify-content: center;

}
.online-games-cards > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    width: 342px;
    height: 400px;
    transform: translate(-0%, -0%);
    margin-bottom: 24px;
}

#img {
    width: 342px;
    height: 400px;
}

.overly {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    cursor: pointer;
    border: 5px solid #FF42A5;
    border-radius: 16px;

}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content i {
    color: #FFFFFF;
    font-size: 3rem;
}

.content p {
    color: #FF42A5;
    font-size: 1.25rem;
    font-weight: 600;
}

.card:hover .overly {
    opacity: 0.8;
}



/* Play section styles  */

.play {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    margin-top: 120px;
    margin-right: 240px;
    margin-bottom: 243px;
    gap: 265px;

}

.play-content h1 {
    margin-bottom: 24px;
}

.play span {
    background: linear-gradient(180deg, #8758F1 0%, #F948B2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-img {
    min-width: 634.833px;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/Rectangle\ 55.png');
}

.play-img img {
    width: 318.5px;
    height: 365.083px;
    translate: -461px 360px;
}


/* Games button styles  */
.games-list {

    display: flex;
    justify-content: center;
    gap: 25px;

}

.games-list>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    padding: 10px 20px 10px 10px;
    border-radius: 50px;
}

.games-list>div:hover {
    border-radius: 50px;
    border: 2px solid #FF42A5;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.games-list>div>p {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}

/* footer styles  */

.footer {
    margin-top: 120px;
    width: 100vw;
    height: 636px;
    display: flex;
    gap: 66px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0B0223;
}



.footer-title-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-title-container h3 {
    color: #FF42A5;
    text-align: center;
    font-size: 2.81rem;
    font-weight: 700;
}

.footer-title-container h3>span {
    color: #FFF;
}

.footer-service-links {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.footer-service-links>a {
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 600;
    text-decoration: none;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.footer-icons i {
    color: white;
    font-size: 2.5rem;
}

.footer-icons>#facebook {
    background-color: #1877F2;
    border-radius: 20px;
    border: none;
}

.footer-icons>#youtube {
    border-radius: 10px;
    border: none;
}

.footer-policy-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.footer-policy-links>a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
    text-decoration: none;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
    margin-top: -38px;
}

















/* Mobile phone responsive  */

@media screen and (max-width: 576px) {

    .body {
        padding: 50px;
    }

    /* Navbar responsive */

    nav {
        padding: 0px 50px;
        min-height: 130px;
        margin-bottom: 1px;
    }

    .nav-container {
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .menus {
        flex-direction: column;
    }

    /* Banner resposive */

    .banner {
        flex-direction: column-reverse;
        margin-right: 0px;
        text-align: center;
        gap: 0px;
    }

    .banner-content {
        
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }


    .banner-img img {
        max-width: calc(100vw - 40px);
        padding: 0px 20px;
        padding-top: 20px;
    }

    /* online games responsive */

    .online-content{
        max-width: calc(100vw - 40px);
        padding: 20px;
    }


    .online-games-cards {
        flex-direction: column;
        padding: 20px 20px 0px 20px;
        gap: 0px;
        justify-content: center;
        text-align: center;
    }

    

    /* play game responsive  */

    .play {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        gap: 50px;

    }

    .play-content h1 {
        margin-bottom: 24px;
    }

    .play-img {
        min-width: calc(100vw - 100px);
        min-height: 300px;
    }

    .play-img img {
        width: 118.5px;
        height: 110.083px;
        translate: -110px 230px;
    }

    /* games button responsive */

    .games-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 5px;
    }

    /* footer styles  */

    .footer {
        width: calc(100vw - 40px);
        padding: 0px 20px;
    }

    .footer-service-links {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
        gap: 20px;
    }

    .footer-icons {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .footer-policy-links {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }



}








/* Teblet responsive */

@media screen and (min-width: 576px) and (max-width: 960px) {
    .body {
        padding: 50px;
    }

    /* Navbar responsive */

    nav {
        padding: 0px 50px;
        min-height: 130px;
        margin-bottom: 1px;
    }

    .nav-container {
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .menus {
        flex-direction: column;
    }

    /* Banner resposive */

    .banner {
        flex-direction: column-reverse;
        margin-right: 0px;
        text-align: center;
        gap: 0px;
    }

    .banner-content {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }


    .banner-img img {
        max-width: calc(100vw - 40px);
        padding: 0px 20px;
        padding-top: 20px;
    }

    /* online games responsive */



    .online-content{
        max-width: calc(100vw - 40px);
        padding: 20px;
    }


    .online-games-cards {
        flex-direction: column;
        padding: 20px 20px 0px 20px;
        gap: 0px;
        justify-content: center;
        text-align: center;
    }

    /* play game responsive  */

    .play {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        gap: 50px;

    }

    .play-content h1 {
        margin-bottom: 24px;
    }

    .play-img {
        min-width: calc(100vw - 100px);
        min-height: 300px;
    }

    .play-img img {
        width: 118.5px;
        height: 110.083px;
        translate: -110px 230px;
    }

    /* games button responsive */

    .games-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 5px;
    }

    /* footer styles  */

    .footer {
        width: calc(100vw - 40px);
        padding: 0px 20px;
    }

    .footer-service-links {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
        gap: 20px;
    }

    .footer-icons {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .footer-policy-links {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}